/*
  This used to be in the original `pug` HTML template.
*/
/*
  Patch file: above the fold;
*/
html{
  height: 100%;
  margin: 0;
  padding: 0
}


body{
  font-size: 13px;
  line-height: 24px;
  color: #1d1d1d;
  height: 100%;
  overflow: hidden;
  background-color: #e9e9e9;
  margin: 0;
  padding: 0
}

body.login-page{
  background: #f0f0f0; 
}

h1,h2,h3,h4{
  font-weight:normal;
  font-size: inherit;
  line-height: inherit;
}

header{
  height: 50px;
  /* position: fixed; */
  left:0px;
  right:0px;
  top: 0px;
  background: #383838;
  z-index: 15;
  line-height: 50px;
  font-size:13px;
  padding: 0 50px;
}

header ul{
  display: inline-block;
  list-style-type: none;
}




header img {
  display: inline-block;
  height: 25px;
  padding: 0px 10px 0 0;
}

blockquote{
  padding: 10px 15px;
  font-size: 12px;
  line-height: 18px;
  font-style: italic;
  border: 0px solid transparent;
  background: #eee;
}

a{
  color: #FF5742;
}
a:focus, a:hover{
  color: #151515;
  text-decoration: none;
}

.navbar-header a{
  color: #f0f0f0;
  font-size: 21px;
  -webkit-transition: color .3s ease-out; /* Changed here */ 
   -moz-transition: color .3s ease-out;
     -o-transition: color .3s ease-out;
        transition: color .3s ease-out;
}

.navbar-header a:hover{
  color: white;
}

#login{
  margin: 100px auto;
  width: 300px;
  text-align: center;
}

#login .btn{
  font-size: 12px;
  border: 1px solid #3B3B3B;
}
#login h5{
  margin-bottom: 86px;
  color: #151515;
  font-size:24px;
}

#login p {
  color: #a9a2a2;
  
}

#logo{
  font-size: 28px;
  line-height: 56px;
  position: absolute;
  bottom: 10px;
  /* z-index: 1000000; */
  left: 50%;
  width: 160px;
  margin-left: -80px;
  text-align: center;
}

/*
  Flickr API experiment
*/
#flickr{
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff 
}

.DEP-halftone-overlay{
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAF0lEQVQIW2NkYGD4z8DAwMgAI0AMDA4AI3EBBCKrOnQAAAAASUVORK5CYII=) repeat;
}
#logo img{
  max-width: 80px;
}

#header-logo{
  position : absolute;
}
#header-logo img{
  max-width:50px
}

.loader{
  position :absolute;
  z-index: 100;
  left:50%;
  top:50%;
  margin-left:-50px;
  margin-top: -50px;
  width: 100px;
  height: 100px;
}

.sk-double-bounce {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 40px auto;
}

.sk-double-bounce .sk-child {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-doubleBounce 2s infinite ease-in-out;
          animation: sk-doubleBounce 2s infinite ease-in-out;
}

.sk-double-bounce .sk-double-bounce2 {
  -webkit-animation-delay: -1.0s;
          animation-delay: -1.0s;
}

@-webkit-keyframes sk-doubleBounce {
  0%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1); }
}

@keyframes sk-doubleBounce {
  0%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1); } 
}

/*
  Patch
*/
header{
  height: 70px;
  line-height: 70px;
  background: #f0f0f0;
  padding: 0 50px 0 70px;
  display: flex;
}

header > .row {
  width: 100%;
}

.navbar-header a {
    color: black;
    font-size: 17px;
}

.view {
  top: 70px;
  background: #fff;
  height: 0px;
}

a.with-number{
  cursor:pointer;
}

header ul.menu ul.dropdown-menu li a{
  line-height: 20px;
      line-height: 2em;
    padding: 5px 0;
}

header ul.menu li a{
  line-height: 70px;
  color: #8A8A8A;
}

header ul.menu li.active a{
  color: #FF5742;
}

header ul.menu li a:hover{
  color: black
}

#search-field {
    padding-top: 23px;
}
#search-field input{
  background: transparent;
  font-size: 13px;
  color: black;
  width: 110px;

}

#search-field .dropdown-menu li a{
  padding: 0;
}

.milkyway {
  position: fixed;
  top: 110px;
  left: 0;
  right: 0;
  bottom: 50px;
}

.milkyway.explore.persons {
  left:0;
}

.milkyway.graph {
  left:0;
}

.milkyway.locationsgraph {
  left:0;
}

.explore #see-also {
    width: auto;
    margin-left: 0;
    left: 35px;
}
header ul.dropdown-menu li .notification a {
    display: inline;
    line-height: inherit;
    padding: 0;
}
#see-also{
  right: 0;
  top: 40px;
}

#perspective-menu{
  

  background: white;
  height: auto;
  border-bottom: 1px solid #d8d8d8;
}

#perspective-menu ul{
  border-bottom: none;
}
/*
  View specific perspective menu
*/






.search #perspective-menu > ul{
  padding-left: 70px;
}

.resource #perspective-menu > ul{
  padding-left: 70px
}

.explore #perspective-menu > ul{
  padding-left: 70px;
}


.explore #see-also{
  top: 40px;
}
.search #see-also {
  left: 190px;
  top: 40px;
}
.user #see-also,.neighbors #see-also{
  left:10px;
}


#pop{
  z-index: 1052;
 }
/*
  Modals
*/
.modal.in .modal-dialog{
  pointer-events: none;
}
.modal-content{
  pointer-events:auto;
}
.modal.inspect-metadata .modal-dialog{
  width: 400px;
  height: 400px;
}
.modal.inspect-metadata .modal-dialog .modal-content{
  bottom: auto;
  height: auto;
}
.modal.inspect .modal-body.with-sidebar{
  padding: 0;
}

.modal.inspect .modal-body.with-sidebar .item{
  padding:0;
}

.modal.inspect .modal-body.with-sidebar .item .type, .modal.inspect .modal-body.with-sidebar .item h3{
  margin:0;
}
.modal.inspect .modal-body.with-sidebar .item .meta{
  margin: 20px 0;
}
.modal.inspect .modal-body.with-sidebar .item img{
  min-width: auto;
  max-height: none;
}
.modal.inspect .modal-body.with-sidebar .item blockquote{
    padding: 20px 0;
}
.modal.inspect .modal-body.with-sidebar .item .doi{
    padding: 10px 20px;
}

.flatten > p{
  display: inline
}
/*
  Playlist
*/
#playlist{
  width:230px;
  -webkit-transform: translateX(-230px);
    -ms-transform: translateX(-230px);
    transform: translateX(-230px);
}
#playlist-close{
  z-index: 100;
}
#playlist-actions {
  width: 100%;
}
#playlist-actions h5{
    padding: 0 20px 0px 0;
    border-bottom: 1px solid #383838;
    color: #a9a9a9;
    height: 70px;
    line-height: 70px;
    margin: 0 20px 0 20px;
}
#playlist-actions .contents{
  color:#b0b0b0;
  margin: 20px;
    border-bottom: 1px solid #383838;
    padding-bottom: 20px;

}
#playlist-shadow.neighbors{
  opacity: 0
}
#playlist-queue{
  bottom:0;
}
.playlist-item{
  width: 210px
}
#playlist-queue{
  top: 240px;
}
/*

*/
.sigma-snippets .btn-line-white .fa{
      font-size: 13px;
    line-height: 15px;

}



.sigma-snippets .content .links{
  margin-left:20px;
  text-align: left
}

.sigma-snippets .content .links a:hover{
  color: #fff;
}

.entity #see-also{
  margin-left: auto;
  width: 100%;
  margin-right: 0px;
  left: 360px;
  height: 100%;
}

.entity #perspective{
  left: 0;
}

/*
  Annotator
*/
.annotator-hl{
  border-bottom: 1px solid rgba(50,50,50,0.5)
}

/*
  MEDIA PATCH
*/
@media screen and (min-width : 768px) {
  .masonry-brick{
    width: 100%;
  }

  header ul.menu li a{
    padding: 0 10px;
  }
}

@media screen and (min-width: 992px) {
  /**/
  .masonry-brick{
    width: 50%;
  }
}

@media screen and (min-width: 1200px) {
  header ul.menu li a{
    padding: 0 20px;
  }
  
  .entity .masonry-brick{
    width: 33%;
  }

  .masonry-brick{
    width: 50%;
  }
}

@media screen and (min-width: 1440px) {
  .masonry-brick{
    width: 33%;
  }
  .entity .masonry-brick{
    width: 25%;
  }
}