<div class="{{classes.container}}">
  <div hi-veil ng-show="isLoading"></div>

  <div class="{{classes.controlsContainer}}">
    <div class="{{classes.inputsWrapper}}">
      <div class="{{classes.inputsContainer}}">
        <input ng-model="query"
               class="form-control {{classes.searchInput}}"
               hg-on-enter="setQuery()"/>
        <button class="btn btn-default" 
                ng-click="setQuery()"
                ng-disabled="isLoading">
          {{ isLoading ? 'Searching...' : 'Find entities' }}
        </button>
      </div>
      <div class="{{classes.inputsContainer}}">
        <p class="{{classes.searchBoxHelpText}}">
          <a href="https://lucene.apache.org/solr/guide/6_6/the-standard-query-parser.html">Lucene queries</a>
          can be used here.
        </p>
      </div>  
    </div>
    <div class="{{classes.mergeTargetControls}} {{ targetEntity ? classes.controlsAnimation : '' }}" ng-show="targetEntity">
      <p>
        Merge <b>{{sourceEntities.length || 0}}</b> entities into <b><a href="/e/{{targetEntity.uuid}}">{{targetEntity.name}}</a></b>
      </p>
      <button class="btn btn-default {{classes.mergeButton}}"
              ng-disabled="sourceEntities.length === 0"
              ng-click="performMerge()">
        Merge
      </button>
    </div>
  </div>
  <div class="{{classes.entitiesContainer}}">
    <ul class="list-group">
      <li ng-repeat="entity in entities" class="list-group-item">
        <div class="{{classes.entity}}">
          <div class="{{classes.entityControls}}">
            <input type="checkbox"
                   ng-checked="isSourceEntity(entity)"
                   ng-disabled="entity === targetEntity"
                   ng-click="toggleSourceEntity(entity)"/>
            <button class="btn btn-default"
                    ng-click="setTarget(entity)"
                    ng-disabled="isSourceEntity(entity) || entity === targetEntity">
              {{ entity === targetEntity ? 'target' : 'set as target' }}
            </button>
          </div>
          <div class="{{classes.entityDetails}}">
            <p class="{{classes.entityText}}">
              <a href="/e/{{entity.uuid}}">{{entity.name}}</a>
              <span class="mentions">{{entity.mentions}} mentions</span>
            </p>
            <span class="badge">{{entity.type}}</span>
          </div>
        </div>
      </li>
    </ul>

    <!-- load more -->
    <div class="{{classes.loadMoreItemsSection}}" ng-show="entities.length > 0">
      <button class="btn btn-default"
              ng-click="loadMore()">
        Load more items
      </button>
    </div>
  </div>
</div>
