 <span
    data-id='{{tag.entity.uuid}}'
    gasp-tip='{{tag.entity.name}} - {{tag.entity|lookup:"description":32}} ({{tag.entity.birth_date | date:"yyyy"}} - {{tag.entity.death_date | date:"yyyy"}}) {{tag.appearance.score < 0? " - signaled as a mistake":""}}'
    gasp-removable="{{user.username == tag.appearance.created_by && tag.appearance.upvote.length == 1}}"
    gasp-upvotes="{{tag.appearance.upvote}}"
    gasp-downvotes="{{tag.appearance.downvote}}"
    gasp-creator="{{tag.appearance.created_by||''}}"
    gasp-type='{{tag.type}}'
    gasp-parent='{{item.type}}-{{item.id}}'
    class="tag {{tag.type}} {{tag.entity.starred?'starred':''}} {{tag.entity.issues.length?'with-issues': ''}} {{tag.appearance.downvote.length > 1? 'deprecated': '' }} {{tag.appearance.downvote.length > 0? 'downvoted': '' }} {{user.username == tag.appearance.created_by? 'yours': ''}}"
    ng-class='{lang: tag.appearance.languages.length > 1 && tag.appearance.languages.length == item.entity.languages.length, confirmed: tag.appearance.upvote.length > 0}'>
    {{tag.entity.name}}
    <i ng-if='tag.appearance.upvote.length > 0' class='fa fa-check-circle-o'></i>
    <i ng-if='tag.appearance.length' class='fa fa-exclamation-circle'></i>
</span><!-- {{$last? '':  ', '}} -->