<div class="topic-modelling-page">
  <!-- Menu bar -->
  <div id='perspective-menu' class="tk-proxima-nova header-menu">
    <ul>
      <li class="menu-item" ng-include src="'templates/partials/helpers/grammar.html'"></li>
    </ul>
  </div>

  <!-- Page container -->
  <div class="{{classes.container}}">

    <!-- Topic details side panel  -->
    <div hi-topic-details="params.topicId"
         on-close="unselectCurrentTopic()"
         on-topic-updated="reloadData()"
         ng-if="params.topicId !== undefined"
         show-resources-button='true'
         show-close-button='true'
         class="{{classes.containerChild}} {{classes.topicDetails}}">
    </div>

    <!-- Explorer pane -->
    <div class="{{classes.containerChild}} {{classes.mainPanel}}">

      <!-- Explorer graph -->
      <div hi-explorer="explorerConfig"
           hi-explorer-data="explorerData"
           hi-set-bins-count="setBinsCount"
           hi-on-bin-selected="onBinSelected"
           hi-on-label-clicked="topicLabelClickHandler"
           hi-step-index="params.step"
           hi-selected-plot-id="params.editPlotId"
           hi-get-tooltip-content="getTooltipContent"
           hi-on-control-clicked="configureExplorable"
           hi-plots-ids-max-scaled="availableMaxScaledIds"
           class="{{classes.explorerGraph}}">
      </div>
  
      <!-- Graph footer -->
      <div class="{{classes.graphFooter}}">
        <div class="{{classes.graphFooterSection}}">
          <!-- add button -->
          <div class="dropdown">
            <div class="btn-group" uib-dropdown is-open="false">
              <button id="add-explorable-{{uid}}" type="button" class="btn btn-default btn-line" uib-dropdown-toggle>
                <i class="fa fa-plus"></i> <span>Add explorable</span> <span class="caret"></span>
              </button>
              <ul class="uib-dropdown-menu dropdown-menu" role="menu" aria-labelledby="add-explorable-{{uid}}">
                <li ng-repeat="item in availableAspects">
                  <a ng-click='addNewExplorable(item)'>{{ item.label }}</a>
                </li>
              </ul>
            </div>
          </div>
          
          <!-- toggle scaling -->
          <div class="{{classes.scaleToggle}}">
            <input type="checkbox" ng-model="params.scaleKeywordPlots">
            <span>Scale keywords to maximum</span>
          </div>
        </div>
        <div class="{{classes.graphFooterSection}}">
          <div>
              <div class="dropdown {{classes.binMethod}}">
                <div class="btn-group" uib-dropdown is-open="false">
                  <button id="bin-method-{{uid}}" type="button" class="btn btn-default btn-line" uib-dropdown-toggle>
                    <span>Aggregate by</span> <i>{{getBinMethodLabel(params.binMethod)}}</i> <span class="caret"></span>
                  </button>
                  <ul class="uib-dropdown-menu dropdown-menu" role="menu" aria-labelledby="bin-method-{{uid}}">
                    <li ng-repeat="item in binMethods">
                      <a ng-click='setBinMethod(item.value)'>{{ item.label }}</a>
                    </li>
                  </ul>
                </div>
              </div>      
          </div>
          <div>
            <button class="btn btn-default {{classes.zoomInButton}}" 
                    ng-click="zoomIn()"
                    ng-if="itemsPerBin > 0"
                    ng-disabled="selectedItemMeta === undefined">
              <i class="fa fa-search-plus"></i> Zoom into current bin
            </button>
          </div>
          <div class="sans-serif {{classes.barZoomLabel}}" ng-if="itemsPerBin > 0">
            1 bin = {{itemsPerBin}} resource{{ itemsPerBin === 1 ? '' : 's'}}
          </div>
        </div>
      </div>
  
      <!-- Resources list -->
      <div hi-resources-panel
           load-resources="loadResources"
           load-resources-params="resourcesSearchParams"
           pin-resource="queue"
           class="{{classes.containerChild}} {{classes.mainPanel}}">
      </div>

    </div>

    <!-- Plot details side panel -->
    <div hi-explorable-configuration="params.editPlotId" 
         hi-explorer-config="explorerConfig"
         ng-if="params.editPlotId !== undefined"
         on-close="finishEditingExplorableConfiguration"
         on-remove-explorable="removeExplorable"
         class="{{classes.containerChild}} {{classes.explorableConfiguration}}">
    </div>
  </div>
</div>
