<div class="topic-modelling-page">
  <!-- Menu bar -->
  <div id='perspective-menu' class="tk-proxima-nova header-menu">
    <ul>
      <li class="menu-item" ng-include src="'templates/partials/helpers/grammar.html'"></li>
    </ul>
  </div>

  <!-- Page container -->
  <div class="{{classes.container}}">

    <!-- Topic details side panel  -->
    <div hi-topic-details="params.topicId"
         on-close="unselectCurrentTopic()"
         on-topic-updated="reloadData()"
         ng-show="params.topicId !== undefined"
         show-resources-button='true'
         show-close-button='true'
         class="{{classes.containerChild}} {{classes.topicDetails}}">
    </div>

    <!-- Explorer pane -->
    <div class="{{classes.containerChild}} {{classes.mainPanel}}">

      <!-- Explorer graph -->
      <div hi-explorer="explorerConfig"
           hi-explorer-data="explorerData"
           hi-set-bins-count="setBinsCount"
           hi-on-bin-selected="onBinSelected"
           hi-on-label-clicked="topicLabelClickHandler"
           hi-step-index="params.step"
           hi-get-tooltip-content="getTooltipContent"
           class="{{classes.explorerGraph}}">
      </div>
  
      <!-- Graph footer -->
      <div class="{{classes.graphFooter}}">
        <div class="{{classes.graphFooterSection}}">
            <div ng-repeat="(id, filters) in explorerFiltersConfig">
              <div hi-explorer-filter="filter"
                   hi-explorer-plot-id="{{id}}"
                   hi-help-tooltips="helpTooltips[id]"
                   hi-initial-value="params.filters[id][filter.key]"
                   hi-on-changed="onFilterValueChanged"
                   ng-repeat="filter in filters"
                   class="{{ classes.explorerFilter }}">
              </div>
            </div>      
        </div>
        
        <div class="{{classes.graphFooterSection}}">
          <div>
            <button class="btn btn-default {{classes.zoomInButton}}" 
                    ng-click="zoomIn()"
                    ng-if="itemsPerBin > 0"
                    ng-disabled="selectedItemMeta === undefined">
              <i class="fa fa-search-plus"></i> Zoom into current bin
            </button>
          </div>
          <div class="sans-serif {{classes.barZoomLabel}}" ng-if="itemsPerBin > 0">
            1 bin = {{itemsPerBin}} resource{{ itemsPerBin === 1 ? '' : 's'}}
          </div>
        </div>
      </div>
  
      <!-- Resources list -->
      <div hi-resources-panel
           load-resources="loadResources"
           load-resources-params="resourcesSearchParams"
           pin-resource="queue"
           class="{{classes.containerChild}} {{classes.mainPanel}}">
      </div>

    </div>
  </div>
</div>
