<div hi-veil ng-show="isLoading"></div>

<div class="tabs" ng-if="item.resource.iiif_url">
  <div class="tab" ng-class="currentTab === 'resource-image' ? 'selected' : ''" ng-click="selectTab('resource-image')">
    Resource image
  </div>
  <div class="tab" ng-class="currentTab !== 'resource-image' ? 'selected' : ''" ng-click="selectTab('related-resources')">
    Related resources
  </div>              
</div>
<div class="resource context" ng-class="currentTab === 'resource-image' ? 'fullwidth' : ''">
  <div ng-if="currentTab === 'resource-image'" class="resource-image">
    <div iiif-image="item.resource.iiif_url" class="iiif-image-container"></div>
  </div>
  <div ng-if="currentTab !== 'resource-image'" class="related-resources">
    <div class="{{classes.relatedResourcesContainer}}">
      <hi-resource-item ng-repeat="resource in relatedItems"
                        class="{{classes.resourceItem}}"
                        resource="resource.props"
                        index="$index"
                        total-resources="totalItems"
                        on-pin="queue(resource)">
      </hi-resource-item>
    </div>
    <div class="more {{classes.moreButton}}" ng-if='totalItems > relatedItems.length && totalItems !== 0'>
      <button ng-click='loadMore()' class='btn btn-block '>{{isLoading?'loading...':'load more items'}}</button>
    </div>
  </div>
</div>