<div>
  <div class="loader animated" ng-class="isLoading? 'fadeIn' : 'fadeOut'">
    <div class="sk-double-bounce">
      <div class="sk-child sk-double-bounce1"></div>
      <div class="sk-child sk-double-bounce2"></div>
    </div>
  </div>

  <div class="main-title serif">
    <h1>Histograph</h1>
  </div>

  <div id="logo">
    <img src="https://www.c2dh.uni.lu/sites/all/themes/c2dh/img/c2dh-logo.svg" />
  </div>
  <div id="flickr">
    <div flickr=""></div>
    <div class="halftone-overlay"></div>
  </div>
</div>
